
@{
    ViewBag.Title = "GetData";
    
}

<h2>GetData</h2>

 @ViewBag.studentName


@section MyTestSection
 {

    <div style="float:left;height:100%; width:20%;background-color:brown;color:black">
        <ul>
            <li>tom</li>
            <li>jerry</li>
            <li>Contact US</li>
        </ul>
    </div>
}