
@{
    ViewBag.Title = "GetView";
}

<h2>Welcome to View</h2>

@section MySection123
 {

    <div style="float:left;height:100%; width:20%;background-color:brown;color:black">
        <ul>
            <li>Home</li>
            <li>About US</li>
            <li>Contact US</li>
        </ul>
    </div>
}